
.title{
    border: 2px black;
    background-image: linear-gradient(135deg, #9796f0 10%, #FBC7D4 100%);
    text-align: center; 
    margin-top: 10px;
    padding: 5px;
}

.content-box{
    border: 1px solid black;
    border-radius: 5px;
    margin-top: 10px;
    padding: 5px;
}

.clickButton button{
   width: 100%;
}

#information{
    display: block;
    margin-left: 15%;
    margin-right: 10%;
    margin-bottom: 10px;
}

.card{
    max-width: 100%;
}

.card-body{
    background-image: linear-gradient(135deg, #9796f0 10%, #FBC7D4 100%);
    border: 1px;
    border-radius: 5px;
}